In [1]:
import tushare as ts
import pandas as pd
import datetime

In [2]:
tickerRData = ts.get_stock_basics()
tickers = tickerRData.index.tolist()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

In [17]:
today = datetime.datetime.today().strftime('%Y%m%d')
file = '../datafiles/tickers/tickerlist_' + today + '.csv'
tickerRData.to_csv(file, encoding='utf_8_sig')

In [1]:
ts.get_hist_data('600848', ktype='60')

NameError: name 'ts' is not defined

In [32]:
d1 = pd.DataFrame(data={'name':['a', 'b'], 'age':[10, 29]}, index=list('ab'))
d2 = pd.DataFrame(data=[[1,2,3,4],list('abcd')], columns=["t{}".format(x) for x in list('1234')])

adict = {'name':['a', 'b'], 'age':[10, 29]}
s1 = pd.Series(data=adict)
d3 = pd.DataFrame(s1, columns=['Value'])
d4 = pd.DataFrame.from_dict(adict, orient='index', columns=['t1', 't2'])

In [34]:
d4.T

   name age
t1    a  10
t2    b  29

In [42]:
len(d1)

2